// @use "../../sass/breakpoints" as *;

.product-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 80%;
  border: 2px solid rgb(70, 68, 68);
text-align: center;
padding: 20px;
justify-content: center;
background-color: hsla(0, 5%, 75%, 0.378);
}
.product-list img{
    height: 200px;
    border: 2px solid rgb(70, 68, 68);
    border-radius: 15px;
}
.containers{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}